<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
<p>Current language: @Language, @language</p>

@code {
    
    private string language;
    [Parameter]
    [SupplyParameterFromQuery(Name = "lang")]
    public string Language
    {
        get => language;
        set
        {
            Console.WriteLine("Set language (App)");
            language = value;
        }
    }

}